<ion-content [fullscreen]="true">
  <div id="container">
    <!--<img style="width: auto; max-height: 500px !important; margin: 0 auto; display:block;" src="assets/images/logo-big.png" />-->
    <strong>Welcome!</strong>
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="userLogin.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="userLogin.password" name="password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full">Login</ion-button>
    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>
  </div>
</ion-content>
