<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Collection</ion-title>
    {{title}}
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="view(item.id)"
              *ngFor="let item of games">
      <ion-avatar slot="start">
        <img src="{{item.image}}">
      </ion-avatar>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
